nav {
    background-color: #453f69;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
nav a {
    color: white;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
    font-size: larger;
}
  
nav a:hover {
    color: #ddd;
}